
.icon-heart:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */