#container{
	margin-right: auto;
	margin-left: auto;
	width: 1920px;
	height: 1080px;
	background-color: white;
	
}
#navbar{
	width: 120px;
	height: 817px;
	background-color: #2699fb;
	color: white;
	text-align: center;
	float: left;
	position: relative;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: black;
}
#wrapper{
	height: 818px;
	width: 1800px;
	background-color: white;
	float:left;
}
#footer{
	height: 260px;
	width: 1920px;
	background-color: #2699fb;
	clear:both;
}
#logoBar{
	height: 324px;
	width: 1800px;
	background-color: white;
	margin-top: 30px;
}
#posts{
	height: 464px;
	width: 1800px;
	background-color: #2699fb;
	
}
.post{
	float: left;
	height: 462px;
	width: 358px;
	float: left;
	background-color: white;
	color: #2699fb;
	border-style: groove;
	border-width: 1px;
	border-color: gray;
}
.postImage{
	width: 358px;
	height: 266px;
	
}
.postDescription{
	width: 318px;
	height: 160px;
	padding: 20px;
	font-size: 20px;
	position: relative;
}
.postBottom{
	width: 320px;
	height: 16px;
	position: absolute;
	bottom: 30px;
}
.navigation{
	font-size: 11px;
	font-family: Arial;
	height: 30px;
}
#icons{
	height: 40px;
	width: 120px;
	position: absolute;
	bottom: 0;
}
.icon{
	float: left;
	font-size: 22px;
	margin-left: 8px;
	
}
#logoContainer{
	margin: auto;
	width: 562px;
	height: 112px;
}
#logoImage{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 50px;
	height: 50px;
}
#logoSubtitle{
	font-size: 40px;
	font-weight: 500;
	padding: 3px;
	text-align: center;
	word-wrap: break-word;
	width: 562px;
	height: 62px;
}
#footerContainer{
	padding: 40px;
}
#footerContactUs{
	margin-left: 90px;
	float:left;
	color: white;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 80%;
}
#footerCustomerRevice{
	margin-left: 120px;
	float:left;
	color: white;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 80%;
}
#footerInformation{
	margin-left: 120px;
	float:left;
	color: white;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 80%;
	
}
#footerSubscribe{
	margin-left: 120px;
	width: 600px;
	height: 200px;
	float:left;
	color: white;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 80%;
}
#emailText{
	float: left;
	width: 300px;
	height: 50px;
}
input[type=text] {
  background-color: #2699fb;
  width: 300px;
  height: 50px;
  color: white;
  border: 2px solid #7fc4fd;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
}
#emailSubmit{
	float: left;
	margin-left: 20px;
	width: 200px;
	height: 50px;
	background-color: white;
	border-radius: 15px;
}
input[type=submit] {
  background-color: white;
  width: 200px;
  height: 50px;
  color: #2699fb;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
  border-bottom: 0px;
  border-right: 0px;
}



