.post{
	float: left;
	border-style: groove;
	border-width: 1px;
	border-color: gray;
}
.postImage{
	width: 358px;
	height: 266px;
	
}
.postDescription{
	color: #2699fb;
	margin: 0px;
	padding: 20px; 
	height: 156px;
	position: relative;
}
.postDescription > li{
	list-style-type: none;
	margin-top: 15px;
	letter-spacing: 1px;
	line-height: 80%;
}
.postDescription > li:last-child{
	position: absolute;
    bottom: 40;
	
}