#register{
	height: 464px;
	width: 1800px;
	background-color: white;
	
}
#registerContainer{
	margin: auto;
	height: 264px;
	width: 300px;
	background-color: white;
}
#registerUserName{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	height: 50px;
	width: 300px;
	border-bottom: 1px solid #2699fb;
	
}
#registerUserEmail{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	height: 50px;
	width: 300px;
	border-bottom: 1px solid #2699fb;
	
}
.register-link{
    text-decoration: none;
	color: #2699fb;
}

.register-link:hover 
{
     text-decoration:none; 
	 color: #B0DAFE;
}
#registerUserNameText{
	float:left;
	padding-left: 20px;
	background-color: white;
	height: 49px;
	width: 250px;
	color: #2699fb;
	border-width: 0px;
	
}
#registerUserEmailText{
	float:left;
	padding-left: 20px;
	background-color: white;
	height: 49px;
	width: 250px;
	color: #2699fb;
	border-width: 0px;
	
}
#registerUserPassword{
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	height: 50px;
	width: 300px;
	border-bottom: 1px solid #2699fb;
}
#registerUserPasswordText{
	padding-left: 20px;
	background-color: white;
	height: 49px;
	width: 250px;
	color: #2699fb;
	border-width: 0px;
}
#iconRegisterTemplate{
	float:left;
	margin: auto;
	background-color: white;
	height: 49px;
	width: 50px;
	color: #2699fb;
	border-width: 0px;
}
#registerText{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #2699fb;
	height: 30px;
	width: 300px;
}
#registerSubmitWrapper{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: 300px;
	
}
#registerSubmit{
	text-align: center;
	border: 0px;
	background-color: #7fc4fd;
	height: 100%;
	width: 100%;
}