#container{
	margin-right: auto;
	margin-left: auto;
	width: 1920px;
	height: 1080px;
	background-color: white;
	
}
#navbar{
	width: 120px;
	height: 817px;
	background-color: #2699fb;
	color: white;
	text-align: center;
	float: left;
	position: relative;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: black;
}
#wrapper{
	height: 818px;
	width: 1800px;
	background-color: white;
	float:left;
}
#footer{
	height: 180px;
	width: 1840px;
	background-color: #2699fb;
	clear:both;
	padding: 40px;
}
#logoBar{
	height: 324px;
	width: 1800px;
	background-color: white;
	margin-top: 30px;
}
#posts{
	height: 464px;
	width: 1800px;
	background-color: #2699fb;
	
}
.navigation{
	padding: 0px;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
}
.navigation > li{
	margin-top: 20px;
	font-size: 13px;
	font-weight: 500;
	font-family: Arial;
	
}
#icons{
	height: 40px;
	width: 120px;
	position: absolute;
	bottom: 0;
}
.icon{
	float: left;
	font-size: 22px;
	margin-left: 8px;
	
}
#logoContainer{
	margin: auto;
	width: 562px;
	height: 112px;
}
#logoImage{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 50px;
	height: 50px;
}
#logoSubtitle{
	font-size: 40px;
	font-weight: 500;
	padding: 3px;
	text-align: center;
	word-wrap: break-word;
	width: 562px;
	height: 62px;
}
.footerInformation{
	list-style-type: none;
	margin-left: 80px;
	float:left;
}
.footerInformation > li{
	margin-top: 10px;
	color: white;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 80%;
}
#footerSubscribe{
	margin-left: 80px;
	margin-top: 20px;
	width: 600px;
	height: 180px;
	float:left;
	color: white;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 80%;
}
#footerEmailText{
  width: 300px;
  height: 50px;
  float: left;
  margin-top:20px;
  background-color: #2699fb;
  color: white;
  border: 2px solid #7fc4fd;
  font-size: 20px;
  text-align: center;
}
#footerEmailSubmit{
  width: 200px;
  height: 50px;
  float: left;
  margin-top:20px;
  margin-left: 20px;
  background-color: white;
  color: #2699fb;
  font-size: 20px;
  border-radius: 15px;
  border-bottom: 0px;
  border-right: 0px;
}



